@using IntranetPOPS1819.Models
@model List<Service>
@{
				/**/

				ViewBag.Title = "Collaborateurs";

				Layout = "/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../Shared/Navbar")


<body>

	<div style="height: 100%">
		<div class="container-fluid profil-layout" style="height: 100%">
			<div class="row">
				<div class="col-md-2 row1">
					<p><h3 class="text-center">Collaborateurs par services</h3></p>
					<div>
						<div class="list-group">
							@{
								foreach (Service service in Model)
								{
									<button class="list-group-item btn btn-block btn-1 " onclick="javascript:toggleVisibility(('service' + @service.Id)); return false;">@service.Nom</button>
									<span id=@(("service" + service.Id)) style="display:none;">
										@foreach (Collaborateur col in service.Collaborateurs)
                                        {
                                            if(!col.Licencie)
                                            {

											    @Ajax.ActionLink(col.Nom, "InformationsCollaborateur", new { idCol = col.Id }, new AjaxOptions
										       {
											       InsertionMode = InsertionMode.Replace,
											       UpdateTargetId = "InfoCollaborateurActif",
											       HttpMethod = "Post"
										       }, new { @class = "list-group-item btn btn-block btn-3 btn-list-intranet" })
                                            }
                                      
										}
									</span>
								}
							}
						</div>
					</div>
					<br /><br />
				</div>



				<div class="col-md-10">
					<div id="InfoCollaborateurActif" style="height: 100%">
						&nbsp;&nbsp;Veulliez selectionner un collabo <i class="em em-woman-frowning"></i>
					</div>
				</div>


			</div>
		</div>
	</div>

</body>


