@using IntranetPOPS1819.Models
@model Service



<h2 class="row3-h">Service @Model.Nom</h2>
<br />
<p><i class="em em-calendar"></i> @DateTime.Today.ToString("dd/MM/yyyy")</p>
<br />
<p class="table-bordered">Nombre de collaborateurs absents : @Model.GetNombreCollaborateursEnConges()</p>
<p class="table-bordered">Proportion dans le service : @Model.GetProportionAbsents()%</p>
