
@(Html.Kendo().Grid<IntranetPOPS1819.ViewModel.ValidationCongesViewModel>
            ()
            .Name("ValiderConges2")
            .Columns(columns =>
            {
                columns.Bound(c => c.Nom);
                columns.Bound(c => c.Debut);
                columns.Bound(c => c.Fin);
                columns.Command(command => { command.Custom("Détails").HtmlAttributes(new { @class = "btn btn-light" }).Click("showDetails2"); command.Custom(" Valider").IconClass("fas fa-check").HtmlAttributes(new { @class = "btn btn-success" }).Click("ValiderC2"); command.Custom(" Refuser").IconClass("fas fa-times").HtmlAttributes(new { @class = "btn btn-danger" }).Click("RefuserC2"); }).Width(300);
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine)
            .DisplayDeleteConfirmation(false))
            .Scrollable()
            .Events(events =>
            {
                events.DataBound("onDataBound");
                events.DataBinding("onDataBinding");
                events.SaveChanges("onSaveChanges");
            })
            .DataSource(dataSource => dataSource
            .Ajax()
                .Model(model => model.Id(p => p.Id))
                .Read(read => read.Action("Conges_Read2", "ChefDeService"))
                .Create(create => create.Action("Conges_Create", "ChefDeService"))
                .Update(update => update.Action("Conges_Validation2", "ChefDeService"))
                .Destroy(destroy => destroy.Action("Conges_Validation2", "ChefDeService"))
            )
)

<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">Collaborateur</th>
            <th scope="col" class="text-center">Service @Model._Collaborateur.Service.Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" id="nom">Nom : &nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row" id="CongePris">Congés pris cette année : &nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row" id="journeesRestantes">Journées restantes : &nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    // Utilisation du datePicker
    $(document).ready(function () {
        $("datePickerCongesRH").kendoDatePicker()
            .closest(".k-widget")
            .attr("id", "datepicker_wrapper");

        var datepicker = $("#datePickerCongesRH").data("kendoDatePicker");


        $("#get").click(function () {
            $.get("InfosAbsents", { date: datepicker.value().toISOString() }, function (data) {
                document.getElementById("test").innerHTML += data;
                $.get("ProportionAbsents", { date: data }, function (data2) {
                    document.getElementById("test").innerHTML += data2;
                });
            });

        });
    });

    // Affichage des détails
    function showDetails2(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        document.getElementById("nom").innerHTML = 'Nom : &nbsp;' + dataItem.Nom;
        document.getElementById("journeesRestantes").innerHTML = 'Journées restantes: &nbsp;' + dataItem.CongesRestants + '&nbsp; jours';
    }
</script>

<script type="text/javascript">
    function ValiderC2(e) {
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        grid.removeRow(row);
        console.log(this);
        console.log(dataItem);
        $.ajax({
            url: 'Conges_Validation2',
            data: {
                nb: dataItem.Id,
                accepter: true
            }
        }).done(function () {
            alert('Added');
        });
    }

    function RefuserC2(e) {
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        grid.removeRow(row);
        console.log(dataItem);
        $.ajax({
            url: 'Conges_Validation2',
            data: {
                nb: dataItem.Id,
                accepter: false
            }
        }).done(function () {
            alert('Added');
        });
    }
</script>

<script>
    kendo.culture("br-FR");
    function onDataBound(e) {
        //Implement the event handler for DataBound
    }

    function onDataBinding(e) {
        //Implement the event handler for DataBinding

    }

    function onSaveChanges(e) {
        //Implement the event handler for SaveChanges
    }
</script>