@using IntranetPOPS1819.Models
@model int
@(Html.Kendo().Grid<IntranetPOPS1819.Models.LigneDeFrais>()
                              .Name("LigneDeFrais")
                              .HtmlAttributes(new { style = "height: 500px" })
                              .Columns(columns =>
                              {
                                  columns.Bound(c => c.Nom);
                                  columns.Bound(c => c.Somme);
                                  columns.Bound(c => c.Statut).ClientTemplate(
                                    "# if (Statut == 1){ #" +
                                        "<font color=\"DarkOrange\">En Attente</font>" +
                                    "# }else if(Statut == 2){ #" +
                                        "<font color=\"ForestGreen\">Validée par le chef</font>" +
                                    "# }else if(Statut == 3){ #" +
                                        "<font color=\"ForestGreen\">Validée</font>" +
                                    "# }else{ #" +
                                        "<font color=\"FireBrick\">Refusée</font>" + "# } #"
                                    );
                                  columns.Bound(c => c.Date);
                                  columns.Bound(c => c.Mission).ClientTemplate(
                                    "#= Mission.Nom #"
                                );
                                  columns.Bound(c => c.Type);
                                  columns.Command(command => { command.Custom("Détails").HtmlAttributes(new { @class = "btn btn-light" }).Click("showDetails"); command.Custom(" Valider").IconClass("fas fa-check").HtmlAttributes(new { @class = "btn btn-success" }).Click("Valider"); command.Custom(" Refuser").IconClass("fas fa-times").HtmlAttributes(new { @class = "btn btn-danger" }).Click("Refuser"); }).Width(220);
                              })
                                        .Sortable(sortable =>
                                        {
                                            sortable.SortMode(GridSortMode.SingleColumn);
                                        })
                                        .Scrollable(scrollable => scrollable.Height("auto"))
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model => model.Id(p => p.Id))
                                            .Read(read => read.Action("LigneDeFrais_Read", "ChefDeService", new { idCol = Model }))
                                        )
)

<div class="modal fade" id="msgModalRefusNote" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Demander les informations</h4>
			</div>
			<form id="messageRefus" method="POST">
				<div class="modal-body">
					<div class="form-row">
						<div class="col-md-12" style=" margin-top: 10px; margin-left:90px">
							<textarea class="form-control" rows="10" id="texteMessageRefus"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-md-12" style="margin-left:90px">
						<button type="submit" id="submitForm" class="btn btn-primary">Refuser</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" style="float:right">Fermer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<br />

<script type="text/javascript">
	
    function showDetails(e) {
        e.preventDefault();
        //console.log("abaaba")

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(dataItem.IdCollab, dataItem.IdNote)
        $.get("GetInfoNote", { idNote: dataItem.IdNote, idCol: dataItem.IdCollab }, function (data) {
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            $("#details").html('<p>Nom : &nbsp;' + data.prenomCol + " " + data.nomCol + "</p>" + '<p>Date note de frais : &nbsp;' + new Date(parseInt(data.date.substr(6))).toLocaleDateString("fr-FR", options) + "</p>" + '<p>Somme validée : &nbsp;' + data.sommeValidee + "</p>")
        })
    }
</script>

<script type="text/javascript">
	var dataOFSelectedLine;
    function Valider(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(dataItem);
        var grid = $("#LigneDeFrais").data("kendoGrid");
        var items = grid.dataSource.data();
        for (var i = 0; i < items.length; i++) {
            if (dataItem.Id == items[i].Id) {
                items[i].set("Statut", 2);
            }
        }
        $.ajax({
            url: 'ValiderLigne',
            data: { id: dataItem.Id }
        })
    }

	function Refuser(e) {
		dataOFSelectedLine = this.dataItem($(e.currentTarget).closest("tr"));
		$('#msgModalRefusNote').modal('show');
	}

	$('#messageRefus').on('submit', function (e) {
		e.preventDefault();
		var texte = document.getElementById('texteMessageRefus');
		if (texte.value != "") {
			console.log(dataOFSelectedLine);
			var grid = $("#LigneDeFrais").data("kendoGrid");
			var items = grid.dataSource.data();
			for (var i = 0; i < items.length; i++) {
				if (dataOFSelectedLine.Id == items[i].Id) {
					items[i].set("Statut", 0);
				}
			}
			$.ajax({
				url: 'RefuserLigne',
				data: { id: dataOFSelectedLine.Id, message: texte.value }
			})
			console.log('envoi du commentaire : ' + texte.value);
		}
		else {
			console.log(dataOFSelectedLine);
			var grid = $("#LigneDeFrais").data("kendoGrid");
			var items = grid.dataSource.data();
			for (var i = 0; i < items.length; i++) {
				if (dataOFSelectedLine.Id == items[i].Id) {
					items[i].set("Statut", 0);
				}
			}
			$.ajax({
				url: 'RefuserLigne',
				data: { id: dataOFSelectedLine.Id }
			})
		}
		$('#msgModalRefusNote').modal('hide');
	});
	
</script>
<script>

    function onSave(e) {
        //Implement the event handler for Save
    }

    function onSaveChanges(e) {
        //Implement the event handler for SaveChanges
    }

    function onDataBinding(e) {
        //Implement the event handler for DataBinding
    }

</script>
