@model IntranetPOPS1819.ViewModel.ChefDeServiceViewModel

<h2 class="text-center">Infos Service</h2>

@Model._Collaborateur.Nom

<p class="text-center">Missions actives</p>

@(Html.Kendo().Grid<IntranetPOPS1819.ViewModel.MissionsViewModel>()
        .Name("GridMissions")
        .Columns(columns =>
        {
            columns.Bound(m => m.Nom).ClientTemplate(
                                    "# if (Statut == 1){ #" +
                                    "<font color=\"ForestGreen\">#=Nom#</font>" +
                                "# }else if(Statut == 2){ #" +
                                    "<font color=\"FireBrick\">#=Nom#</font>" +
                                "# }else{ #" +
                                    "<font color=\"Black\">#=Nom#</font>" + "# } #"
                                    ); ;
            columns.Command(command => { command.Edit().Text(" "); command.Destroy().Text(" "); });
        })
        .Events(e => e.Edit("grid_edit"))
        .Scrollable()
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(m => m.Id))
            .Create(update => update.Action("EditingPopup_Create", "Grid"))
            .Read(read => read.Action("MissionEditing_Read", "ChefDeService"))
            .Update(update => update.Action("MissionEditing_Update", "ChefDeService"))
            .Destroy(update => update.Action("EditingPopup_Destroy", "Grid"))
        )
)

<script>
function grid_edit(e) {
    var editForm = e.container;
    var model = e.model

    editForm.model = model;
    editForm.find("label_id").model = model;
    console.log(model.Id);
    console.log(@Model._Collaborateur.Id);
    /*for (var i = 0; i < model.Collaborateurs.length; i++) {
        document.getElementById("Collaborateurs").innerHTML += '<option id="assigne" value="' + i + '">' + model.Collaborateurs[i].Nom + '</option>';
    }
    document.getElementById("listeCollabos").model = model;*/
}
</script>
