@using IntranetPOPS1819.Models
@using IntranetPOPS1819.Controllers
@model IntranetPOPS1819.Models.LigneDeFrais


@if (Model != null)
{
	<h3 class="text-center table-bordered">Ligne @Model.Nom</h3>
	<button class="text-center" type="button" onclick="@(((ChefDeServiceController)this.ViewContext.Controller).ValiderLigneDeFrais(Model.Note.Collaborateur.Id, Model.Id));">Valider la ligne</button>
}
else
{
	<p>Sélectionnez une ligne de frais</p>
}

