
@model IntranetPOPS1819.ViewModel.CollaborateurViewModel
@{
    ViewBag.Title = "Déconnexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <p>Vous avez été déconnecté.</p>
    <p>PS : Cette page est désormais obsolète, si bous la voyez veuillez envoyer un mail à la personne suivante pour signaloer un bug.
        nathan.bonnard@u-psud.fr
        Cette a mal fait son travail </p>

    <img src="~/Content/images/badpage.jpg" />
