
@{
    ViewBag.Title = "CongesRH";
}

<h2>CongesRH</h2>

@(Html.Kendo().Grid<IntranetPOPS1819.ViewModel.ValidationCongesViewModel>
                            ()
                            .Name("ValiderCongesRH")
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.Id);
                                columns.Bound(c => c.Debut);
                                columns.Bound(c => c.Fin);
                                columns.Command(command => { command.Custom("Détails").HtmlAttributes(new { @class = "btn btn-light" }).Click("showDetailsRH"); command.Custom(" Valider").IconClass("fas fa-check").HtmlAttributes(new { @class = "btn btn-success" }).Click("ValiderCRH"); command.Custom(" Refuser").IconClass("fas fa-times").HtmlAttributes(new { @class = "btn btn-danger" }).Click("RefuserCRH"); }).Width(300);
                            })
                            .Editable(editable => editable.Mode(GridEditMode.InLine)
                            .DisplayDeleteConfirmation(false))
                            .Scrollable()
                            .DataSource(dataSource => dataSource
                            .Ajax()
                                .Model(model => model.Id(p => p.Id))
                                .Read(read => read.Action("Conges_ReadRH", "RH"))
                                .Update(update => update.Action("Conges_ValidationRH", "RH"))
                                .Destroy(destroy => destroy.Action("Conges_ValidationRH", "RH"))
                            )
)

<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">Collaborateur</th>
            <th scope="col" class="text-center">Service @Model._Collaborateur.Service.Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" id="nom">Nom : &nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row" id="CongePris">Congés pris cette année : &nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row" id="journeesRestantes">Journées restantes : &nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">

    function showDetailsRH(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        document.getElementById("nom").innerHTML += dataItem.Nom;
        document.getElementById("journeesRestantes").innerHTML = dataItem.CongesRestants + '&nbsp; jours';
    }
</script>

<script type="text/javascript">
    function ValiderCRH(e) {
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        grid.removeRow(row);
        $.ajax({
            url: 'Conges_ValidationRH',
            data: {
                nb: dataItem.Id,
                accepter: true
            }
        }).done(function () {
            alert('Added');
        });
    }

    function RefuserCRH(e) {
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        grid.removeRow(row);
        console.log(dataItem);
        $.ajax({
            url: 'Conges_ValidationRH',
            data: {
                nb: dataItem.Id,
                accepter: false
            }
        }).done(function () {
            alert('Added');
        });
    }
</script>

<script>
    kendo.culture("br-FR");
    function onDataBound(e) {
        //Implement the event handler for DataBound
    }

    function onDataBinding(e) {
        //Implement the event handler for DataBinding

    }

    function onSaveChanges(e) {
        //Implement the event handler for SaveChanges
    }
</script>