<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Intranet POPS1819</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/UserPage/Profil">@Model._Collaborateur.Nom @Model._Collaborateur.Prenom<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Congés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../NoteDeFrais/Index">Notes de frais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Collaborateurs</a>
            </li>
            @if (@Model._Collaborateur.Admin)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nouveau...</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Collaborateur</a>
                        <a class="dropdown-item" href="#">Service</a>
                    </div>
                </li>
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-question"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!-- TODO : Ajouter les notifications ici -->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Login/Deconnexion"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>

    </div>
</nav>
